## 0. Cities in Sweden - create dataset (*)
Create this DataFrame from scratch:

Kommun	Population
0	Malmö	347949
1	Stockholm	975551
2	Uppsala	233839
3	Göteborg	583056
  a) Use your DataFrame to print out all the cities. (*)

  b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

  c) Sort the cities by population from largest to smallest. (*)

  d) Filter out the three largest cities. (*)

  e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

In [1]:
import pandas as pd 

df_city = pd.DataFrame(
    {"Kommun": ["Malmö", "Stockholm", "Uppsala", "Göteborg"], "Population": [347949, 975551, 233839, 583056]})

In [2]:
df_city

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

In [8]:
df_city[df_city["Kommun"]=="Göteborg"]

     Kommun  Population
3  Göteborg      583056

In [12]:
df_city.sort_values(by="Population", ascending=False)

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949
2    Uppsala      233839

In [14]:
df_city.sort_values(by="Population", ascending=False)[:3]

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949

In [25]:
def some_func(row):
    z = row['Population']/10379295
    return z

df_city["Frak"]=df_city.apply(some_func, axis=1)

In [26]:
df_city

      Kommun  Population      Frak
0      Malmö      347949  0.033523
1  Stockholm      975551  0.093990
2    Uppsala      233839  0.022529
3   Göteborg      583056  0.056175