In [ ]:
# Code alongs - Python summary part 1

In [ ]:
# Code alongs - Python summary part 1

- variables
- data types
- if statement
- ...

## collectiontypes
-- dictonary
-- list
-- tuple
-- set
-- ...

In [6]:
interests =["badmington", "yoga", "chess", "math", "python"]
person = ["dan lund", 32.8, 1]

person

['dan lund', 32.8, 1]

In [2]:
name="Dan Lund"
age=32.8
number_of_children= 1
loves_math=True

# last statement is written output in jupyter notebook
name, age, number_of_children, loves_math

('Dan Lund', 32.8, 1, True)

In [8]:
for type_ in person:
    print(type(type_))

<class 'str'>
<class 'float'>
<class 'int'>

In [10]:
numbers = [i for i in range(-5,6)]

cubes = [numbers**3 for numbers in numbers]

numbers,cubes

([-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5],
 [-125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125])

In [4]:
print(f"name=")
print(f"My name is {name}, I am {age} years old")
print(f"{type(name)}")

name=
My name is Dan Lund, I am 32.8 years old
<class 'str'>

In [14]:
age = int(input("state age"))
if age>=18:
    print("go into pub")
else:
    print("go home!")

go into pub

## f-string

# Code along - summary 1

In [5]:
# hej