In [3]:
import pandas as pd

data = {"INKÖP": 25, "OPA":29, "JS":27}
series=pd.Series(data)

series

INKÖP    25
OPA      29
JS       27
dtype: int64

In [5]:
series.iloc[0], series.iloc[-1]

(25, 27)

In [6]:
series.keys()

Index(['INKÖP', 'OPA', 'JS'], dtype='object')

In [7]:
series["OPA"]

29

## Dataframes

In [9]:
df_programs = pd.DataFrame(series, columns=["Number students"])
df_programs

       Number students
INKÖP               25
OPA                 29
JS                  27

In [12]:
df_programs["Number students"]

INKÖP    25
OPA      29
JS       27
Name: Number students, dtype: int64

In [15]:
df_programs = pd.DataFrame({"Students": [25, 30,30,27], "Language":["Python","C#","Kotlin","Java"]}, index=["AI",".NET","APP","Java"])

df_programs

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java