In [2]:
import numpy as np
import pandas as pd

np.arange(16).reshape(4,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [9]:
df1=pd.DataFrame(np.arange(16).reshape(4,4), columns=list("ABCD"))
df2=pd.DataFrame(np.zeros((3,4)), columns=list("ABCD"))
df3=pd.DataFrame(np.ones((4,3)), index=[1,5,10,15])

In [10]:
df3

      0    1    2
1   1.0  1.0  1.0
5   1.0  1.0  1.0
10  1.0  1.0  1.0
15  1.0  1.0  1.0